---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<ul>
				{posts.map((post) => (
					<li>
						<FormattedDate date={post.data.pubDate} />
						<a href={`/blog/${post.id}/`}>{post.data.title}</a>
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>

<style>
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: grid;
		grid-template-columns: 7em 1fr;
		gap: 1.5em;
		align-items: baseline;
		padding: 0.5em 0;
	}
	time {
		color: rgb(var(--gray));
		font-size: 0.9em;
		white-space: nowrap;
	}
</style>
